@{
    ViewBag.Title = localizer["Menu_Order"];
}

<div class="page-action">
    <ul class="breadcrumb">
        <li>@localizer["Menu_Home"]</li>
        <li>@ViewBag.Title</li>
    </ul>
</div>
<div class="col-md-12">
    <div class="board">
        <div class="page-head">
            <h4>@ViewBag.Title</h4>
        </div>
        <div id="page-search" class="page-search">
            <div class="row">
                <b-form-group class="col-md-2" label="母單商品編號">
                    <b-form-input class="form-control" v-model="main_prod_oid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-2" label="母單套餐編號">
                    <b-form-input class="form-control" v-model="main_pkg_oid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-2" label="母單訂單 mid">
                    <b-form-input class="form-control" v-model="main_order_mid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-3" label="母單訂單狀態">
                    <b-form-select class="form-control" v-model="main_order_status" :options="main_order_status_options"></b-form-select>
                </b-form-group>
                <b-form-group class="col-md-3" label="母單憑證狀態">
                    <b-form-select class="form-control" v-model="main_voucher_status" :options="main_voucher_status_options"></b-form-select>
                </b-form-group>
                <b-form-group class="col-md-2" label="子單商品編號">
                    <b-form-input class="form-control" v-model="sub_prod_oid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-2" label="子單套餐編號">
                    <b-form-input class="form-control" v-model="sub_pkg_oid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-2" label="子單訂單 mid">
                    <b-form-input class="form-control" v-model="sub_order_mid"></b-form-input>
                </b-form-group>
                <b-form-group class="col-md-3" label="子單訂單狀態">
                    <b-form-select class="form-control" v-model="sub_order_status" :options="sub_order_status_options"></b-form-select>
                </b-form-group>
                <b-form-group class="col-md-3" label="子單憑證狀態">
                    <b-form-select class="form-control" v-model="sub_voucher_status" :options="sub_voucher_status_options"></b-form-select>
                </b-form-group>
            </div>
            <div class="row">
                <div class="form-group col-md-12 d-flex justify-content-end">
                    <b-button variant="primary col-md-1 mt-0 mr-1" v-on:click="RefreshHandler">@localizer["CommTxt_Search"]</b-button>
                    <b-button variant="outline-secondary col-md-1" v-on:click="ClearHandler">@localizer["CommTxt_Clear"]</b-button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="col-md-12">
                <table id="table" class="table-striped" style="font-size:14px;"
                       data-toggle="table"
                       data-undefined-text=""
                       data-url="@Url.Content("~/Order/FetchOrderData")"
                       data-page-size="50"
                       data-page-number="1"
                       data-side-pagination="server"
                       data-id-field="xid"
                       data-page-list="[10, 25, 50, 100, 200, All]"
                       data-pagination="true"
                       data-detail-view="true"
                       data-unique-id="booking_mst_xid">
                    <thead>
                        <tr>
                            <th data-field="booking_mst_xid" data-sortable="true">序號</th>
                            <th data-field="order_mid">母單 mid</th>
                            <th data-field="order_oid">母單 oid</th>
                            <th data-field="main_master_oid">母單 master_oid</th>
                            <th data-field="booking_mst_order_status">母單訂單狀態</th>
                            <th data-field="booking_mst_voucher_status">母單憑證狀態</th>
                            <th data-field="voucher_deadline">憑證最長等待時間(分鐘)</th>
                            <th data-field="prod_oid">產品編號</th>
                            <th data-field="prod_name">產品名稱</th>
                            <th data-field="package_oid">套餐編號</th>
                            <th data-field="package_name">套餐名稱</th>
                            <th data-formatter="ColumnUser">建立時間</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $("#table").on("expand-row.bs.table", function (e, index, row, $detail) {
            SubTable(index, row, $detail);
        });
    })
    function SubTable(index, row, $detail) {
        var cur_table = $detail.html('<table></table>').find('table');
        $(cur_table).bootstrapTable({
            url: _root_path + "Order/FetchOrderDtlData?id=" + row.booking_mst_xid,
            method: 'get',
            striped: true,
            columns: [
                {
                    field: 'order_mid',
                    title: '子單 mid'
                },
                {
                    field: 'order_oid',
                    title: '子單 oid'
                },
                {
                    field: 'sub_master_oid',
                    title: '子單 master_oid'
                },
                {
                    field: 'booking_dtl_order_status',
                    title: '子單訂單狀態'
                },
                {
                    field: 'booking_dtl_voucher_status',
                    title: '子單憑證狀態'
                },
                {
                    field: 'prod_oid',
                    title: '產品編號'
                },
                {
                    field: '',
                    title: '產品名稱'
                },
                {
                    field: 'package_oid',
                    title: '套餐編號'
                },
                {
                    field: '',
                    title: '套餐名稱'
                }
            ]
        });
    }
    function initData() {
        var data = {
            main_prod_oid: '',
            main_pkg_oid: '',
            main_order_mid: '',
            sub_prod_oid: '',
            sub_pkg_oid: '',
            sub_order_mid: '',
            main_order_status: null,
            main_voucher_status: null,
            sub_order_status: null,
            sub_voucher_status:null,
            main_order_status_options: [],
            main_voucher_status_options:[],
            sub_order_status_options: [],
            sub_voucher_status_options:[],
        };
        data.main_order_status_options = initOrderStatusOption();
        data.main_voucher_status_options = initVoucherStatusOption();
        data.main_order_status_options.push({ value: 'GL', text: '已完成' });
        data.sub_order_status_options = initOrderStatusOption();
        data.sub_order_status_options.push({ value: 'GL', text: '已完成' });
        data.sub_voucher_status_options = initSubVoucherStatusOption();
        
        return data;
    }
    function initOrderStatusOption() {
        return options = [
            { value: null, text: '@localizer["CommTxt_Select"]' },
            { value: 'NW', text: '成立' },
            { value: 'PROCESS', text: '準備預定中' },
            { value: 'BOOKING_FAIL', text: '成立訂單失敗' },
        ];
    }
    function initVoucherStatusOption() {
        return options = [
            { value: null, text: '@localizer["CommTxt_Select"]' },
            { value: 'NW', text: '成立' },
            { value: 'PROCESS', text: '準備預定中' },
            { value: 'VOUCHER_FAIL', text: '取得憑證失敗' },
            { value: 'VOUCHER_OK', text: '取得憑證成功' },
            { value: 'CB_FAIL', text: 'CALLBACK失敗' },
            { value: 'GL', text: '已完成' },
        ];
    }
    function initSubVoucherStatusOption() {
        return options = [
            { value: null, text: '@localizer["CommTxt_Select"]' },
            { value: 'NW', text: '成立' },
            { value: 'PROCESS', text: '準備預定中' },
            { value: 'VOUCHER_OK', text: '取得憑證成功' },
            { value: 'CB_FAIL', text: 'CALLBACK失敗' },
            { value: 'DOWNLOAD_FAIL', text: 'DOWNLOAD失敗' },
            { value: 'GL', text: '已完成' },
        ];
    }
    new Vue({
        el: '#page-search',
        data: function () {
            return initData();
        },
        methods: {
            RefreshHandler() {
                FetchData(this.$data);
            },
            ClearHandler() {
                Object.assign(this.$data, initData());
            }
        }
    });
    function FetchData(data) {
        $("#table").bootstrapTable("refresh", {
            url: _root_path + "Order/FetchOrderData?filter=" + JSON.stringify(data)
        });
    }
    @* User Format user+date *@
    function ColumnUser(value, row, index) {
        return [
            '<span>' + (row.create_user == null ? "-" : row.create_user) + '</span> <br/>',
            '<span>' + (row.create_user == null ? "" : row.create_datetime.substring(0, 10)) + '</span>'
        ].join('');
    }

</script>