@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @* CSS *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css">
    <link rel="stylesheet" href="~/lib/bootstrap-validator/dist/css/bootstrapValidator.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)

    @* JavaScript *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-@(CultureInfo.CurrentCulture).js"></script>
    <script src="~/lib/bootstrap-validator/dist/js/bootstrapValidator.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-validator/dist/js/language/@(CultureInfo.CurrentCulture).js" asp-append-version="true"></script>
    <script src="@Url.Content("~/js/vue.js")" asp-append-version="true"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/moment-timezone.min.js" asp-append-version="true"></script>
    <script src="~/js/moment-timezone-with-data.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KKday.Web.OCBT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul id="layout-bar" class="navbar-nav flex-grow-1">
                        <template v-if="acct != ''">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </template>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{CultureInfo}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="@Url.Content("~/Locale/Index/zh-tw")">繁體中文</a>
                                <a class="dropdown-item" href="@Url.Content("~/Locale/Index/en-us")">English</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown" v-if="name !=''">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #FFB400;">
                                {{name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a href="@Url.Content("~/Login/LogOut")" class="dropdown-item">@localizer["Logout"]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <script type="text/javascript">
            var _root_path = '@Url.Content("~/")';
            var _culture = '@CultureInfo.CurrentCulture.ToString()';
            new Vue({
                el: '#layout-bar',
                data: {
                    acct: '@User.FindFirst("Account")?.Value',
                    name: '@Html.Raw(User.FindFirst("Name")?.Value)',
                    culture: '@CultureInfo.CurrentCulture.ToString().ToLower()'
                },
                computed: {
                    CultureInfo() {
                        return this.culture == "zh-tw" ? "繁體中文" : "English";
                    }
                }
            });
        </script>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            COPYRIGHT &copy; @(DateTime.Today.Year) KKday All rights reserved.
        </div>
    </footer>
</body>
</html>
